* {
    font-family: FiraCode Nerd Font;
	font-weight: bold;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    transition-property: background-color;
    transition-duration: .5s;
	color: white;
}

#workspaces {
	border: 0px;
}

#workspaces button.focused {
	color: #00f0f0;
}

#workspaces button {
	color: white;
	min-width: 0px;
	background: none;
	border: none;
	box-shadow: none;
	text-shadow: none;
}

